.numberList {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    justify-content: space-between;
    margin-top: 10px;
    height: 370px;
}
.numbers {
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(22, 94, 202);
    border: none;
    width: 75px;
    height: 75px;
    box-shadow: 0 4px 2px #333;
}
.numbers:focus {
    outline: none;
}
.operatorList {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 80px;
}
.left{
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    justify-content: space-between;
}
.operators {
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0 4px 2px #333;

    background-color: rgb(80, 130, 146);
    border: none;
    width: 80px;
    height: 80px;
}
.operators:focus {
    outline: none;
}

.specials {
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(80, 106, 146);
    box-shadow: 0 4px 2px #333;

    border: none;
    width: 80px;
    height: 80px;
}
.specials:focus {
    outline: none;
}

.display {
    display: flex;
    margin: .5rem auto;
    flex-direction: row-reverse;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 80px;
    background: #444;
    color: #fff;
    font-size: 2.5rem;
}