.numbers {
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    background-color: darkblue;
    border: none;
    width: 80px;
    height: 80px;
}
.operators {
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;

    background-color: rgb(80, 130, 146);
    border: none;
    width: 80px;
    height: 80px;
}
.specials {
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(80, 106, 146);
    border: none;
    width: 80px;
    height: 80px;
}